html {
    background-color: #303030;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.topnav {
    background-color: #222;
    overflow: hidden;
    margin: 0;
    position: sticky;
    top: 0;
    height: 5vh;
    width: 100%;
    line-height: 5vh;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    display: inline;
}

.topnav a {
    display: block;
    float: right;
    color: aliceblue;
    text-align: center;
    padding: 0vh 1.5vw;
    text-decoration: none;
    font-size: medium;
    margin: 0;
    height: 6vh;
}

.topnav a:hover {
    background-color: #191970;
}

.active {
    background-color: #2727af;
}

.main-content {
	width: 100%;
	padding: 15vh, 30vw;
}
